<h1>Users</h1>
<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
    <app-mixed-widget6></app-mixed-widget6>
    <!-- <app-cards-widget20 cssClass="h-md-50 mb-5 mb-xl-10" description="Active Projects" color="#F1416C"
      img="./assets/media/patterns/vector-1.png"></app-cards-widget20>
      <app-mixed-widget6></app-mixed-widget6>

    <app-cards-widget7 cssClass="h-md-50 mb-5 mb-xl-10" [icon]="false" [stats]="357" description="Professionals"
      labelColor="dark" textColor="gray-300"></app-cards-widget7> -->
  </div>