<!--begin::Row-->
<div class="d-flex flex-wrap flex-stack mb-6">
  <h3 class="fw-bolder my-2">
    Performance
  </h3>
  <div class="d-flex flex-wrap my-2">
    <div class="me-4">
      <select
        name="status"
        data-control="select2"
        data-hide-search="true"
        class="form-select form-select-sm form-select-white w-125px" 
        defaultValue="Active"
      >
        <option value="Active"> FY 22-23</option>
        <option value="Approved">FY 23-24</option>
        <option value="Declined">FY 24-25</option>
        <!-- <option value="In Progress">Completed</option> -->
      </select>
    </div>
    <!-- <a
      class="btn btn-primary btn-sm cursor-pointer"
      data-bs-toggle="modal"
      data-bs-target="#kt_modal_create_project"
    >
      New Project
    </a> -->
  </div>
</div>
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
  <!--begin::Col-->
  <div class="col-md-6 col-lg-6 col-xl-6  mb-md-5 mb-xl-10">
    <div class="d-flex ">
      <ul
        class="
          nav nav-stretch nav-line-tabs nav-line-tabs-2x
          border-transparent
          fs-5
          fw-bolder
          flex-nowrap
        "
      >
        <li class="nav-item">
          <a
            class="nav-link text-active-primary me-6"
            routerLink="/Performance/allemployee"
            routerLinkActive="active"
          >
          All Employee
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-active-primary me-6"
            routerLink="/Performance/probationemployee"
            routerLinkActive="active"
          >
            Probation Employee
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-active-primary me-6"
            routerLink="/Performance/confirmedemployee"
            routerLinkActive="active"
          >
            Confirmed Employee
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-active-primary me-6"
            routerLink="/Performance/exitedemployee"
            routerLinkActive="active"
          >
            Exited Employee
          </a>
        </li>
      </ul>
    </div>
    <!-- <app-mixed-widget6></app-mixed-widget6> -->
    <!-- <app-tables-widget11></app-tables-widget11> -->
    <!-- <app-cards-widget20 cssClass="h-md-50 mb-5 mb-xl-10" description="Active Projects" color="#F1416C"
      img="./assets/media/patterns/vector-1.png"></app-cards-widget20>
      <app-mixed-widget6></app-mixed-widget6>

    <app-cards-widget7 cssClass="h-md-50 mb-5 mb-xl-10" [icon]="false" [stats]="357" description="Professionals"
      labelColor="dark" textColor="gray-300"></app-cards-widget7> -->
  </div>
  <!--end::Col-->

  <!--begin::Col-->
  <!-- <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
    <app-cards-widget17 cssClass="h-md-50 mb-5 mb-xl-10"></app-cards-widget17>
    <app-lists-widget26 class="h-lg-50"></app-lists-widget26>
  </div> -->
  <!--end::Col-->


  <!--begin::Col-->
  <!-- <app-engage-widget10 class="col-xxl-6" cssClass="h-md-100"></app-engage-widget10> -->
  <!--end::Col-->
</div>
<!--end::Row-->

<!--begin::Row-->
<!-- <div class="row gx-5 gx-xl-10">/ -->
  <!--begin::Col-->
  <!-- <div class="col-xxl-6 mb-5 mb-xl-10">
    <app-new-charts-widget8 cssClass="h-xl-100" chartHeight="275px" [chartHeightNumber]="275"></app-new-charts-widget8>
  </div> -->
  <!--end::Col-->

  <!--begin::Col-->
  <!-- <div class="col-xxl-6 mb-5 mb-xl-10">
    <app-cards-widget18 cssClass="h-xl-100" image="./assets/media/stock/600x600/img-65.jpg"></app-cards-widget18>
  </div> -->
  <!--end::Col-->
<!-- </div> -->
<!--end::Row-->

<!-- begin::Row -->
<!-- <div class="row gy-5 gx-xl-8">
  <div class="col-xxl-4">
    <app-lists-widget3 class="card card-xxl-stretch mb-xl-3"></app-lists-widget3>
  </div>
  <div class="col-xl-8">
    <app-tables-widget10 class="card card-xxl-stretch mb-5 mb-xl-8"></app-tables-widget10>
  </div>
</div> -->
<!-- end::Row -->

<!-- begin::Row -->
<!-- <div class="row gy-5 g-xl-8">
  <div class="col-xl-4">
    <app-lists-widget2 class="card card-xl-stretch mb-xl-8"></app-lists-widget2>
  </div>
  <div class="col-xl-4">
    <app-lists-widget6 class="card card-xl-stretch mb-xl-8"></app-lists-widget6>
  </div>
  <div class="col-xl-4">
    <app-lists-widget4 class="card card-xl-stretch mb-5 mb-xl-8"></app-lists-widget4>
  </div>
</div> -->
<!-- end::Row -->

<!-- <div class="row g-5 gx-xxl-8">
  <div class="col-xxl-4">
    <app-mixed-widget8 class="card card-xxl-stretch mb-xl-3" chartColor="success" chartHeight="150px">
    </app-mixed-widget8>
  </div>
  <div class="col-xxl-8">
    <app-tables-widget5 class="card card-xxl-stretch mb-5 mb-xxl-8"></app-tables-widget5>
  </div>
</div> -->

<!-- begin:: Modal example -->
<!-- <app-modal #modal [modalConfig]="modalConfig">
  Modal body html
</app-modal>
<button class="btn btn-primary" (click)="openModal()">Open modal</button> -->
<!-- Note: Don't forget import ModalsModule (from _metronic/partials) into your module -->
<!-- end:: Modal example -->
<router-outlet></router-outlet>
